@charset "UTF-8"

@font-face {
    font-family: 'Sinkin';
    src: url('fonts/sinkinsans-100thin.otf') format('opentype');
    font-weight: normal;

    font-family: 'Mandragora';
    src: url('fonts/kinesis\ std\ semibold\ italic.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #634266;
    --cor1: #445643;
    --cor2: #855365;
    --cor3: #044454;
    --cor4: #CC7F40;

    --fonte-padrao: 'Sinkin', Arial, Verdana, sans-serif;
    --fonte-mandragora: 'Mandragora';
}

* {
    margin: 0px; 
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--cor4);
    background-image: url(Mandragora\ -\ Photo\ Jandir\ RIbeiro-pequena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font: var(--fonte-padrao);
}

nav {
    float: right;
    background-color: #4456434b;
    margin: 10px 10px 10px 1000px;
    text-align: center;
    padding: 15px 10px 15px 10px;
    width: 440px;
    position: right;
}

nav a {
    color: #cf9f78;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-style: var(--fonte-padrao);
    
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

main {
    position: relative;
    top: 100px;
}


div#live > p {
    background-color: ;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-variant: small-caps;
    color: #CC7F40;
    font-weight: lighter;
    width: 350px;
    height: 150px;
    margin: auto;
    text-align: center;
    border-radius: 6px; 
    position: relative;
    top: 50px;   
}

div#now h2 {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-variant: small-caps;
    background-color: #85536541;
    color: #CC7F40;
    padding: 10px;
    width: 150px;
    margin: auto;
    text-align: center;
    border-radius: 6px; 
    position: relative;
    top: 80px;   
}


div#play {
    background-color: #855365a9;
    font-family: var(--fonte-padrao);
    text-align: center;
    position: relative;
    top: 110px;   
    width: 50px;
    margin: auto;
    padding: 9px;
    border-radius: 5px;
}

div#play a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--cor4);
}

div#play a:hover {
    text-decoration: underline;
}

div#spotify {
    position: fixed;
    bottom: 94px;
    height: 10px;
    width: 100%;
}

div#footer {
    background-color: #85536573;
    padding: 3px;
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
}