@charset "UTF-8"

@font-face {
    font-family: 'Sinkin';
    src: url('fonts/sinkinsans-100thin.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Mandragora';
    src: url('fonts/kinesis\ std\ semibold\ italic.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #634266;
    --cor1: #445643;
    --cor2: rgb(133, 83, 101);
    --cor3: #044454;
    --cor4: #CC7F40;

    --fonte-padrao: 'Sinkin', Arial, Verdana, sans-serif;
    --fonte-mandragora: 'Mandragora';
}

* {
    margin: 0px; 
    padding: 0px;
}
.navbar {
    font-size: 1em;
    float: right;
    background-color: #4456434b;
    margin: 10px 10px 10px;
    text-align: center;
    padding: 15px 10px 15px 10px;
    width: 420px;
    position: sticky;
    top: 0;
}

nav a {
    color: #cf9f78;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-style: var(--fonte-padrao);
}

nav a:hover {
    color: white;
    text-decoration: underline;
}
header > img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 50px;
    left: 50%;
}

body{
    background-color: #445643;
    background-image: url('foto_Julia_filtro@4x-80.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background: #445643 url('PASTA\ MANDRAGORA/') center top no-repeat cover fixed;
     /* Shorthand - background
     color >image > position > repeat > [size] > attachment
     */
}
main {
    top: 70px;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    color: whitesmoke;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 3em;
    padding-bottom: 300px;
    position: relative;
}

section.imagem > h1 {
    font-family: var(--fonte-mandragora);
    color: rgba(245, 245, 245, 0.76);
    padding: 90px 100px 5px;
    font-size: 3.5em;
    margin: auto;
    text-align: center;
}

section.imagem > p {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    color: rgba(245, 245, 245, 0.76);
    text-indent: 30px;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    line-height: 1.7em;
    padding: 0px 30px 0px 30px;
    position: relative;
}

footer {
    background-color: #855365e1;
    padding: 4px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}

footer > p a{
    text-decoration: none;
    color: #634266;
}

footer > p a:hover {
    text-decoration: none;
    color: #CC7F40;
}