@charset "UTF-8"

@font-face {
    font-family: 'Sinkin';
    src: url('fonts/sinkinsans-100thin.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Mandragora';
    src: url('fonts/kinesis\ std\ semibold\ italic.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #634266;
    --cor1: #445643;
    --cor2: #855365;
    --cor3: #044454;
    --cor4: #CC7F40;

    --fonte-padrao: 'Sinkin', Arial, Verdana, sans-serif;
    --fonte-mandragora: 'Mandragora';
}

* {
    margin: 0px; 
    padding: 0px;
}

section.imagem1 {
    height: 89vh;
    background-color: var(--cor4);
    background-image: url(Mandragora\ -\ Photo\ Jandir\ RIbeiro-pequena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

nav {
    float: right;
    background-color: #4456434b;
    margin: 10px 10px 10px 1000px;
    text-align: center;
    padding: 15px 10px 15px 10px;
    width: 400px;
    position: sticky;
}

nav a {
    color: #cf9f78;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-style: var(--fonte-padrao);
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

div#live > p {
    background-color: ;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-variant: small-caps;
    color: #CC7F40;
    font-weight: lighter;
    width: 350px;
    height: 150px;
    margin: auto;
    text-align: center;
    border-radius: 6px; 
    position: relative;
    top: 50px;   
}

div#now h2 {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-variant: small-caps;
    background-color: #85536541;
    color: #CC7F40;
    padding: 10px;
    width: 150px;
    margin: auto;
    text-align: center;
    border-radius: 6px; 
    position: relative;
    top: 80px;   
}


div#play {
    background-color: #855365a9;
    font-family: var(--fonte-padrao);
    text-align: center;
    position: relative;
    top: 110px;   
    width: 50px;
    margin: auto;
    padding: 9px;
    border-radius: 5px;
}

div#play a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--cor4);
}

div#play a:hover {
    text-decoration: underline;
}

section.autoplay {
    bottom: 94px;
    height: 80px;
    width: 100%;
}
section.imagem2 {
    background-color: #445643;
    background-image: url('foto_Julia_filtro@4x-80.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background: #445643 url('PASTA\ MANDRAGORA/') center top no-repeat cover fixed;
    /* Shorthand - background
        color >image > position > repeat > [size] > attachment
    */
}

section.imagem2 > h1 {
    font-family: var(--fonte-mandragora);
    color: rgba(245, 245, 245, 0.76);
    padding: 90px 100px 5px;
    font-size: 3.5em;
    margin: auto;
    text-align: center;
}

section.imagem2 > p {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    color: rgba(245, 245, 245, 0.76);
    text-indent: 30px;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    line-height: 2.5em;
    padding: 0px 30px 0px 30px;
    position: relative;
}

section.cds {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 40px 0px 30px 0px;
    height: 500px;
}

section.cds > h1 {
    font-family: var(--fonte-mandragora);
    font-size: 3.5em;
    color: rgba(245, 245, 245, 0.76);
    margin: auto;
    text-align: center;
    padding: 30px 0px 70px 0px;
}

div.titulo {
    width: 300px;
    font-family: var(--fonte-mandragora);
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    color: rgba(245, 245, 245, 0.76);
    display: inline-block;
    transform: translate(28%, -414%);
}

div.cd {
    height: 200px;
    width: 200px;
    border: .5px solid rgba(245, 245, 245, 0.308);
    display: inline-block;
    bottom: -50px;
    margin-right: -43%;
    transform: translate(-17%, 20%);
}

#mandragora {
    background-image: url(CDs/CD\ mandragora-pequeno.jpeg);
}

#paralelo31 {
    background-image: url(CDs/Paralelo\ 31-pequeno.jpg);
}    

#aovivo {
    background-image: url(CDs/Front_image_DVD-pequeno.jpg);
}

div#footer {
    background-color: #855365;
    padding: 4px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    width: 100%;
    bottom: 0;
}