@charset "UTF-8"

@font-face {
    font-family: 'Sinkin';
    src: url('fonts/SinkinSans-200XLight.otf') format('opentype');
    font-weight: normal;
    
    font-family: 'Mandragora';
    src: url('fonts/Kinesis\ Std\ Semibold\ Italic.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #634266;
    --cor1: #445643;
    --cor2: #855365;
    --cor3: #044454;
    --cor4: #CC7F40;

    --fonte-padrao: 'Sinkin', Arial, Verdana, sans-serif;
    --fonte-mandragora: 'Mandragora';
}

* {
    margin: 0px; 
    padding: 0px;
}

body {
    height: 100vh;
    background-image: url(Mandragora\ -\ Photo\ Jandir\ RIbeiro-pequena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font: var(--fonte-padrao);
}

nav {
    float: right;
    background-color: #4456434b;
    margin: 10px 10px 10px 1000px;
    text-align: center;
    padding: 15px 10px 15px 10px;
    width: 400px;
    position: right;
}

nav a {
    color: #cf9f78;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-style: var(--fonte-padrao);
    
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

div.album {
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    border-radius: .5em;
}
div#live h1 {
    background-color: #85536541;
    color: #CC7F40;
    width: 250px;
    height: 150px;
    margin: auto;
    border-radius: 6px;
    position: relative;
}

div#now h2 {
    background-color: #85536541;
    color: #CC7F40;
    padding: 10px;
    width: 150px;
    margin: auto;
    border-radius: 6px;

}

div#play a {
    font-family: var(--fonte-padrao);
    color: rgba(245, 245, 245, 0.863);
    text-decoration: none;
    font-size: 1.2em;
    width: 50px;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
    background-color: #85536541;

}

div#play a:hover {
    background-color: #CC7F40;
}

aside {
    padding: 20px;
    position: relative;
}

aside > h2 {
    padding-bottom: 30px;
    font-size: 1.50em;
}

aside > p {
    font-size: 1.2em;
    font-family: sans-serif;
    line-height: 1.3em;
}

footer {
    display: block;
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}